@model Trash_Collector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Your Account Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode.ZipCodeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode.ZipCodeArea)
        </dd>
        <br />
        
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.PickUpDay.PickUpWeekday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDay.PickUpWeekday)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Your Account Details", "Edit", new { id = Model.CustomerID }) |
    
</p>
